.buttonBuy{
    background: red;
    color: white;
    font-size: 1.7rem;
    padding: .4rem 1.9rem;
    text-decoration: none;
    list-style: none;
    border: 2px solid black;
    border-radius: 9px;
    text-transform: uppercase;
}

