.buttonBuy{
    background: red;
color: white;
    font-size: 1.2rem;
    padding: .4rem 1.9rem;
    text-decoration: none;
    list-style: none;
    border: 3px solid black;
    border-radius: 9px;
    text-transform: uppercase;
}

