.card-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stake-button {
    cursor: pointer;
}

.buttonBuy{
    background: red !important;
    color: white !important;
    font-size: 1.2rem !important;
    padding: .4rem 1.9rem !important;
    text-decoration: none;
    list-style: none;
    border: 3px solid black !important;
    border-radius: 9px !important;
    text-transform: uppercase !important;
  }
