.connectButton{
    background: red !important;
    color: white !important;
    font-size: 1.2rem !important;
    padding: .4rem 1.2rem !important;
    text-decoration: none;
    list-style: none;
    border: 2px solid black !important;
    border-radius: 6px !important;
    text-transform: uppercase !important;
}
