.CardMarket{
    background: #ffffff;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 22px;
}

.CardMarchantLogo{
    display: flex;
    justify-content: center;
align-items: center;
    padding: 12px;
    margin-top: 12px;
}
.sumari{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;

    color: black;
}
.highOffer{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
}
.spanOffer{
font-size: 1.2rem;
    color: #999999;
}
.button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.InputField{
    font-size: 25px;
    width: 100px;
}
.onsale-price{
    font-size: 1.5rem;
}
/*.oufit{*/
/*    font-weight: 500;*/
/*    text-transform: uppercase;*/
/*    font-size: 12px;*/
/*    text-align: center;*/
/*    color: white;*/

/*}*/
/*.MarchantPrice{*/
/*    background: #29293a;*/
/*    border-radius: 3px;*/
/*    color: white;*/
/*    font-size: 18px;*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    text-transform: uppercase;*/
/*    padding: 3px;*/
/*    font-weight: 600;*/
/*align-items: center;*/
/*}*/
