.topNavbar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid white;
    flex-direction: column;
    padding: 5px 4px;
    background: rgba(0,0,0,0.4);
}
.price{
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}