
.app{
  width: 100vw;
height: 100vh;
  overflow: auto;
}
.greenSpan{
  color: green;
}
.redSpan{
  color: red;
}
html {
  font-size: 65.5%;

}


@media only screen and (max-width: 1200px) {
  html, body {
    font-size: 65.5%;
  }
}


@media only screen and (max-width: 996px) {
  html, body {
    font-size: 58.5%;

  }
}

@media only screen and (max-width: 768px) {
  html, body {
    font-size: 55.5%;

  }
}

.buttonBuy{
  background: red !important;
  color: white !important;
  font-size: 1.2rem !important;
  padding: .4rem 1.9rem !important;
  text-decoration: none;
  list-style: none;
  border: 3px solid black !important;
  border-radius: 9px !important;
  text-transform: uppercase !important;
}

.noBorder {
  text-align: center;
  border: solid 2px transparent;
  padding: 5px;
  border-radius: 15px;
}
.withBorder {
  text-align: center;
  border: solid 2px #56ff8e; 
  padding: 5px;
  border-radius: 15px;
}

